xcuserdata
DerivedData
*.xcuserstate
*.xccheckout
*.swp
/build/
/derivedDataPath/
/Externals/build
Artifacts/*
.idea/workspace.xml
.idea/tasks.xml
.idea/*
.DS_Store
.idea/runConfigurations/Specs.xml
coverage.info
*.gcno
*.pbxuser
*.mode1v3
*.mode2v3
xcuserdata
.DS_Store
project.xcworkspace
.idea
Xcode/Testing2/Pods
.ruby-version
coverage_detail.txt
Pods/
*.pyc
compile_commands.json

# Fastlane temporary profiling data
# https://github.com/fastlane/fastlane/commit/bfc7a6e277bbede8b15c1d89a31ebdd7c5e90b63
/fastlane/report.xml
# Deliver temporary error output
/fastlane/Error*.png
# Deliver temporary preview output
/fastlane/Preview.html
# Snapshot generated screenshots
/fastlane/screenshots/*/*-portrait.png
/fastlane/screenshots/*/*-landscape.png
/fastlane/screenshots/screenshots.html
# Frameit generated screenshots
/fastlane/screenshots/*/*-portrait_framed.png
/fastlane/screenshots/*/*-landscape_framed.png
/fastlane/test_output/
Carthage/Checkouts
# Build file of script
list_unref_oc_selectors
# Ignore swiftenv setting
.swift-version
